## Functions

7. Return true if any number of a list is even

In [32]:
def check_list_even(num_list):
    for i in num_list:
        if i%2 == 0:
            return True
        else:
            pass

In [33]:
result = check_list_even([1,2,4,3,6])

In [34]:
result

True

8.Return allthe even numbers in a list

In [43]:
list_even = []
def check_even(num_list):
    for i in (num_list):
        if i%2 == 0:
          list_even.append(i)
    return list_even

In [44]:
check_even([1,2,4])

[2, 4]

9.Cars guessing trick

In [60]:
from random import shuffle 

def shuffle_check(mylist):
    shuffle(mylist)
    return mylist

In [61]:
def player_guess():
    guess = ' '
    while guess not in ['0','1','2']:
        guess = input("Pick a number 0,1 or 2:")
    return int(guess)

In [66]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print("correct guess")
        print(mylist)
    else:
        print("wrong guess")
        print(mylist)

In [68]:
#Initial List
mylist = [" ","O"," "]

#Shuffle list
shuffled_list = shuffle_check(mylist)

#User guess
guess = player_guess()
#Check guess
check_guess(shuffled_list,guess)

Pick a number 0,1 or 2:0
wrong guess
[' ', ' ', 'O']

In [3]:
def my_func(a,b):
    return ((a+b)*0.05)

In [4]:
my_func(40,60)

5.0

## *args & **kwargs

In [5]:
def my_func(*args):
    return sum(args)*0.05

In [7]:
my_func(40,60,50)

7.5

In [12]:
def my_func(**kwargs):
    if "name" in kwargs:
        print("My name is {}".format(kwargs["name"]))

In [13]:
my_func(name="Mona")

My name is Mona

In [21]:
def my_func(*args, **kwargs):
    print("My name is {} and i am {} years old".format(kwargs['name'],args[1]))

In [22]:
my_func(10,20,30,name="Mona")

My name is Mona and i am 20 years old

9.Define a function containing arbitrary arguments and return a list containing even arguments.

In [23]:
my_list = []
def myfunc(*args):
    for i in args:
        if i%2 == 0:
            my_list.append(i)
    return my_list

In [25]:
myfunc(10,12,2,4,15)

[10, 12, 2, 4]

10.Skyline

In [50]:
def myfunc(str):
    mystring = []
    for i in range(len(str)):
        if i%2 == 0:
            mystring.append(str[i].lower())
        else:
            mystring.append(str[i].upper())
    return ''.join(mystring)

In [51]:
myfunc("Mynameismona")

'mYnAmEiSmOnA'

11.LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [104]:
def lesser_of_two_evens(a,b):
    if a%2 ==0 and b%2==0:
        if a>b:
            return b
        else:
            return a
    else:
        if a>b:
            return a
        else:
            return b

In [105]:
def lesser_of_two_evens(a,b):
    if a%2 ==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [106]:
lesser_of_two_evens(2,4)

2

In [108]:
lesser_of_two_evens(2,5)

5

12.ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [109]:
def animal_crackers(str):
    out = []
    
    out = str.lower().split()
    return out[0][0] == out[1][0]

In [111]:
animal_crackers('Levelheaded llama')

True

In [112]:
animal_crackers('Crazy Kangaroo')

False

13.MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [113]:
def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1==20 or n2==20

In [114]:
makes_twenty(2,3)

False

In [115]:
makes_twenty(20,10)

True

14.OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [136]:
def old_macdonald(name):
    first = name[:3]
    second = name[3:]
    return first.capitalize()+second.capitalize()

In [137]:
old_macdonald('macdonald')

'MacDonald'

In [138]:
def old_macdonald(name):
    first = name[0]
    inbetween = name[1:3]
    fourth =name[3]
    rest = name[4:]
    return first.upper()+inbetween+fourth.upper()+rest

In [139]:
old_macdonald('macdonald')

'MacDonald'

15.MASTER YODA: Given a sentence, return a sentence with the words reversed

In [166]:
def master_yoda(text):
    out = text.split()
    reversed_wordlist = out[::-1]
    return " ".join(reversed_wordlist)

In [167]:
master_yoda('I am home')

'home am I'

16.ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [168]:
def almost_there(n):
    if (90<=n and n<=111) or (190<=n and n<=211):
        return True
    else:
        return False

In [169]:
almost_there(104)

True

In [170]:
def almost_there(n):
    if (abs(100-n)<=10 or abs(200-n)<=10):
        return True
    else:
        return False

In [171]:
almost_there(104)

True

In [172]:
almost_there(150)

False

17.Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [202]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
    return False

In [203]:
has_33([1, 3, 3])

True

In [204]:
has_33([1, 3, 1, 3])

False

In [205]:
has_33([3, 1, 3])

False

18.PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [225]:
def paper_doll(text):
    out = []
    for i in text:
        out.append(i*3)
    return ''.join(out)

In [226]:
paper_doll('Hello')

'HHHeeellllllooo'

In [227]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

19.BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [260]:
def blackjack(a,b,c):
    totalsum = sum([a,b,c])
    if totalsum <=21:
        return totalsum
    elif totalsum > 21 and 11 in [a,b,c]:
        totalsum = totalsum - 10
        return totalsum
    elif totalsum > 21:
        return "BUST"

In [261]:
blackjack(5,6,7)

18

In [262]:
blackjack(9,9,9)

'BUST'

In [263]:
blackjack(9,9,11)

19

20.SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [274]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for i in arr:
        while add:
            if i !=6:
                total = total+ i
                break
            else:
                add = False
        while not add:
            if i != 9:
                break
            else:
                add = True
    return total

In [275]:
summer_69([2, 1, 6, 9, 11])

14

In [276]:
summer_69([1, 3, 5])

9

In [277]:
summer_69([4, 5, 6, 7, 8, 9])

9

21.SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [298]:
def spy_game(nums):
    code = [0,0,7,'x']
    for i in nums:
        if i == code[0]:
            code.pop(0)
    return len(code) ==1

In [299]:
spy_game([1,2,4,0,0,7,5])

True

In [300]:
spy_game([1,0,2,4,0,5,7])

True

In [301]:
spy_game([1,7,2,0,4,5,0])

False

22.COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

In [352]:
def count_primes(num):
    store = []
    for num in range (2, num+1):
        if num>1:
            for i in range (2,num):
                if num % i==0:
                    break
            else: 
                store.append(num)
        else:
            return 0;
    return len(store)

In [354]:
count_primes(100)

25